<section id="products" class="container">
    <h1 class="text-center text-primary my-4"><marquee behavior="scroll" direction="" [scrollAmount]="15">Latest Laptops</marquee></h1>
     <div class="container">
        <div class="row">
         <ng-container *ngFor="let itam of product">
          <div class="col-md-4 cal-sm-12 cal-12 mb-3">
            <div class="card">
              <img src="../assets/images/Products/{{itam.img}}" alt="">
              <div class="card-body">
                <h3 class="card-title">{{itam.name}}</h3>
                <p>{{itam.contant}}</p>
                  <button class="btn btn-danger me-1">Cost:{{itam.price}}/-</button>
                  <button class="btn btn-info me-1">Wrty:{{itam.warnty}}Years</button>
                  <button class="btn btn-success">Cart</button>
              </div>
            </div>
           </div>
         </ng-container>
       </div>
     </div>
  </section>
  