<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h2>ILander_Laps</h2></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto" *ngFor="let navb of nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="{{navb.url}}" routerLinkActive="active">{{navb.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--carousel-->
<router-outlet/>

<footer class="bg-success text-white p-3 text-center">
  &copy; All Rights Resrved. Design and Develop By Me
</footer>