<section id="Banner" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#Banner" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#Banner" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#Banner" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#Banner" data-bs-slide-to="3"></button>
      <button type="button" data-bs-target="#Banner" data-bs-slide-to="4"></button>
      <button type="button" data-bs-target="#Banner" data-bs-slide-to="5"></button>
    </div>
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/images/carousel/img3.avif" alt="Los Angeles" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="../assets/images/carousel/img1.avif  " alt="Chicago" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="../assets/images/carousel/img2.jpg" alt="New York" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="../assets/images/carousel/imag3.jpeg" alt="New York" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="../assets/images/carousel/imag5.jpeg" alt="New York" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="../assets/images/carousel/imag6.jpeg" alt="New York" class="d-block w-100">
      </div>
    </div>
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#Banner" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#Banner" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </section>
  